@model IEnumerable<Desafio.D1.Application.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Veja os clientes cadastrados abaixo</h1>
<div class="col-md-4">

    <form class="d-flex" asp-action="Search">
        <input class="form-control me-2" type="search" placeholder="Buscar cliente" name="nome" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<p>
    <a asp-action="Create">Cadastrar novo cliente</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new {  id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
